<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Departments</title>
</head>

<body>
    {% include "includes/navbar.html" %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="container mb-4">
                <div class="row justify-content-start">
                    <div class="col-9 col-sm-4">
                        <span class="text-primary fs-4 fs-sm-3 fw-bold">All {{ department.name|title }}s</span>
                        <hr class="d-sm-none">
                    </div>
                </div>
            </div>
            
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for doc in doctors %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!--image-->
                        <img class="card-img-top" alt="Responsive image" src="{{ doc.profile_pic.url }}" />
                        <!--details-->
                        <div class="card-body p-4">
                            <div class="text-dark text-decoration-none">
                                <!--name-->
                                <h5 class="fw-bolder">{{ doc.name }}</h5>
                                <hr>
                                <!--degree-->
                                <div class="d-flex justify-content-center align-items-end">
                                     <a href="{% url 'services:book_appointment_view' doc.id %}" class="text-decoration-none">
                                        <small class="text-primary fw-bolder fs-6 text-align-center">View Profile</small>
                                    </a> 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="alert alert-danger">Nothing Listed</div>
                {% endfor %}
            </div>

        </div>
    </section>

    {% include "includes/footer.html" %}
</body>

</html>